<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List</title>
</head>
<body>

    {% if datas.count() > 0 %}
    <table>
        <thead>
            <tr>
                <td>번호</td>
                <td>제목</td>
                <td>이름</td>
                <td>날짜</td>
                <td>조회수</td>
            </tr>
        </thead>
        <tbody>
            <!-- 반복 시작 -->
            {% for data in datas %}
            <tr>
                <td>{{loop.index}}</td>
                <td><a href="{{url_for('board_view', idx=data._id)}}">{{data.title}}</a></td>
                <td>{{data.name}}</td>
                <td>{{data.pubdate | formatdatetime}}</td>
                <td>{{data.view}}</td>
                
            </tr>
            {% endfor %}
            <!-- 반복 끝 -->
        </tbody>


    </table>
    
    {% if block_start - 1 >0 %}
        <a href="{{url_for('list', page=block_start - 1)}}">[이전]</a>
    {% endif %}

    {% for i in range(block_start, block_last + 1) %}
        {% if i ==page %}
            <b>{{i}}</b>
        
        {% else %}
            <a href="{{url_for('list', page = i )}}">{{i}}</a>
        {% endif %}
    
    {% endfor %}

    {% if block_last < last_page_num %}
        <a href="{{url_for('list', page=block_last + 1)}}">[다음]</a>
    {% endif %}

    {% else %}
    데이터가 없습니다.

    {% endif %}

    
</body>
</html>